<div class="fixed inset-0 bg-black/50 flex items-center justify-center z-40">
  <div class="bg-white rounded-xl shadow-2xl w-full max-w-lg p-6 relative">
    <!-- Header -->
    <div class="flex items-center border-b pb-3">
      <h2 class="text-xl font-semibold text-gray-800">Edit Employee</h2>
    </div>
    <form [formGroup]="editForm" (submit)="update()">
      @if(employee){
      <!-- Body -->
      <div class="py-4 grid grid-cols-1 md:grid-cols-2 gap-2">
        <div class="mb-4">
          <label for="name" class="block text-sm font-medium mb-2 text-gray-600"
            >Name</label
          >
          <div class="relative">
            <input
              type="text"
              id="position"
              class="w-full px-3 py-3 bg-gray-50 bg-opacity-50 border border-fuchsia-200 text-gray-600 rounded-lg focus:outline-none focus:ring-1 focus:ring-fuchsia-500 focus:border-fuchsia-500 transition-all duration-200"
              placeholder="e.g. Junior Backend Developer"
              [value]="employee.user.name"
              disabled
            />
          </div>
        </div>

        <div class="mb-4">
          <label
            for="position"
            class="block text-sm font-medium mb-2 text-gray-600"
            >Position</label
          >
          <div class="relative">
            <input
              type="text"
              id="position"
              formControlName="position"
              class="w-full px-3 py-3 bg-gray-50 bg-opacity-50 border border-fuchsia-200 text-gray-600 rounded-lg focus:outline-none focus:ring-1 focus:ring-fuchsia-500 focus:border-fuchsia-500 transition-all duration-200"
              placeholder="e.g. Junior Backend Developer"
            />
            @if(positionError){
            <p class="text-rose-700 text-sm mt-1">{{ positionError }}</p>
            }
          </div>
        </div>
        <div class="mb-4">
          <label for="name" class="block text-sm font-medium mb-2 text-gray-600"
            >Department</label
          >
          <div class="relative">
            <select
              id="department_id"
              formControlName="department_id"
              class="w-full px-3 py-3 bg-gray-50 bg-opacity-50 border border-fuchsia-200 text-gray-600 rounded-lg focus:outline-none focus:ring-1 focus:ring-fuchsia-500 focus:border-fuchsia-500 transition-all duration-200"
              placeholder="Choose department"
            >
              <option [ngValue]="0" disabled>Choose department</option>
              @for (department of departments; track department.id) {
              <option [ngValue]="department.id">{{ department.name }}</option>
              }
            </select>
            @if(departmentIdError){
            <p class="text-rose-700 text-sm mt-1">{{ departmentIdError }}</p>
            }
          </div>
        </div>
        <div class="mb-4">
          <label for="name" class="block text-sm font-medium mb-2 text-gray-600"
            >Hired Dates</label
          >
          <div class="relative">
            <input
              type="date"
              id="join_date"
              formControlName="join_date"
              class="w-full px-3 py-3 bg-gray-50 bg-opacity-50 border border-fuchsia-200 text-gray-600 rounded-lg focus:outline-none focus:ring-1 focus:ring-fuchsia-500 focus:border-fuchsia-500 transition-all duration-200"
            />

            @if(joinDateError){
            <p class="text-rose-700 text-sm mt-1">{{ joinDateError }}</p>
            }
          </div>
        </div>
        <div class="mb-4">
          <label for="name" class="block text-sm font-medium mb-2 text-gray-600"
            >Status</label
          >
          <div class="relative">
            <select
              id="status"
              formControlName="status"
              class="w-full px-3 py-3 bg-gray-50 bg-opacity-50 border border-fuchsia-200 text-gray-600 rounded-lg focus:outline-none focus:ring-1 focus:ring-fuchsia-500 focus:border-fuchsia-500 transition-all duration-200"
              placeholder="Choose status"
            >
              <option value="" disabled>Choose status</option>
              <option value="active">Active</option>
              <option value="probation">Probation</option>
              <option value="resigned">Resigned</option>
            </select>
            @if(statusError){
            <p class="text-rose-700 text-sm mt-1">{{ statusError }}</p>
            }
          </div>
        </div>
      </div>
      }

      <!-- Footer -->
      <div class="flex justify-end gap-3 border-t pt-3">
        <button
          type="button"
          (click)="cancel.emit()"
          class="px-4 py-2 rounded-lg border text-gray-600 hover:bg-gray-100"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="px-4 py-2 rounded-lg bg-fuchsia-600 text-white hover:bg-fuchsia-700"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
