<nav class="bg-primary-700 text-white p-2 h-16 flex flex-row items-center">
  <ul class="flex justify-between w-full">
    <!-- logo -->
    <li class="font-medium text-lg flex items-center w-1/3">
      <a routerLink="/">PeopleZ</a>
    </li>
    <!-- search bar -->
    <li class="flex items-center w-1/3 justify-center">
      <input
        class="w-72 outline-none border border-primary-600 px-2 py-1 rounded"
        type="search"
        placeholder="Find your dream job..."
      />
    </li>
    <!-- guest buttons -->
    @if(user() === null){
    <li class="flex gap-2 w-1/3 justify-end">
      <a
        routerLink="/login"
        class="bg-primary-500 hover:bg-primary-600 font-medium px-3 py-1 rounded cursor-pointer"
      >
        Log in
      </a>
      <a
        routerLink="/register"
        class="bg-primary-500 hover:bg-primary-600 font-medium px-3 py-1 rounded cursor-pointer"
      >
        Sign up
      </a>
    </li>
    }

    <!-- default buttons -->
    @if(user()) {
    <li class="flex gap-2 w-1/3 justify-end">
      @if (role() === 'APPLICANT') {
      <div>
        <a routerLink="/jobs">Job Listings</a>
        <a routerLink="/applications">My Applications</a>
      </div>
      } @if (role() === 'EMPLOYEE') {
      <div>
        <a routerLink="/attendance">Attendance</a>
        <a routerLink="/leave">Leave Requests</a>
        <a routerLink="/payroll">Payslip</a>
        <a routerLink="/performance">Performance Review</a>
      </div>
      } @if (role() === 'HR') {
      <div>
        <a routerLink="/recruitment">Recruitment</a>
        <a routerLink="/employees">Employee Management</a>
        <a routerLink="/attendance">Attendance Reports</a>
        <a routerLink="/leave-approvals">Leave Approvals</a>
        <a routerLink="/performance-reviews">Performance Reviews</a>
      </div>
      } @if (role() === 'ADMIN') {
      <div>
        <a routerLink="/recruitment">Recruitment</a>
        <a routerLink="/employees">Manage Employees</a>
        <a routerLink="/attendance">Attendance Data</a>
        <a routerLink="/payroll">Payroll Management</a>
        <a routerLink="/leave-policy">Leave Policies</a>
        <a routerLink="/performance">Performance Reports</a>
        <a routerLink="/user-management">User Roles</a>
      </div>
      }

      <a routerLink="/profile">My Profile</a>
      <button
        (click)="onLogout()"
        class="bg-primary-500 hover:bg-primary-600 font-medium px-3 py-1 rounded cursor-pointer"
      >
        Log out
      </button>
    </li>
    }
  </ul>
</nav>
