<nav class="bg-primary-700 text-white p-2 h-16 flex flex-row items-center">
  <ul class="flex justify-between w-full">
    <li class="font-medium text-lg flex items-center">PeopleZ</li>
    <li class="flex gap-2">
      <button
        class="bg-primary-500 hover:bg-primary-600 font-medium px-3 py-1 rounded cursor-pointer"
      >
        Log in
      </button>
      <button
        class="bg-primary-500 hover:bg-primary-600 font-medium px-3 py-1 rounded cursor-pointer"
      >
        Sign up
      </button>
    </li>
  </ul>
</nav>
