<div class="flex items-center mb-6">
  <i class="fas fa-user-cog text-fuchsia-700 text-2xl mr-3"></i>
  <h1 class="text-2xl font-bold text-fuchsia-700">My Profile</h1>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
  <div
    class="bg-white shadow-md rounded-lg overflow-hidden card-hover animate-fade-in"
  >
    <div class="p-6">
      <div class="flex items-center mb-4">
        <div
          class="w-10 h-10 bg-blue-300 rounded-full flex items-center justify-center mr-3 shadow-md"
        >
          <i class="fas fa-user-edit text-gray-700"></i>
        </div>
        <h2 class="text-xl font-semibold text-gray-700">Edit Profile</h2>
      </div>
      <form [formGroup]="updateProfileForm" (submit)="updateProfile()">
        <div class="mb-4">
          <label for="name" class="block text-sm font-medium mb-2 text-gray-600"
            >Full Name</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
            >
              <i class="fas fa-id-card text-fuchsia-400"></i>
            </div>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="w-full pl-10 pr-3 py-3 bg-gray-50 bg-opacity-50 border border-fuchsia-200 text-gray-600 rounded-lg focus:outline-none focus:ring-1 focus:ring-fuchsia-500 focus:border-fuchsia-500 transition-all duration-200"
              placeholder="Enter your name"
            />
          </div>
        </div>

        <div class="mb-4">
          <label
            for="email"
            class="block text-sm font-medium mb-2 text-gray-600"
            >Email</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
            >
              <i class="fas fa-user text-fuchsia-400"></i>
            </div>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="w-full pl-10 pr-3 py-3 bg-gray-50 bg-opacity-50 border border-fuchsia-200 text-gray-600 rounded-lg focus:outline-none focus:ring-1 focus:ring-fuchsia-500 focus:border-fuchsia-500 transition-all duration-200"
              placeholder="Enter your email"
            />
          </div>
        </div>

        <div class="mt-6">
          <button
            type="submit"
            class="w-full bg-fuchsia-600 text-gray-100 py-3 px-4 rounded-lg hover:opacity-90 focus:outline-none focus:ring-2 focus:ring-fuchsia-500 focus:ring-offset-2 focus:ring-offset-gray-800 transition-all duration-200 font-medium shadow-lg transform hover:-translate-y-0.5"
          >
            <i class="fas fa-save mr-2"></i> Update Profile
          </button>
        </div>
      </form>
    </div>
  </div>

  <div
    class="bg-white shadow-md rounded-lg overflow-hidden card-hover animate-fade-in"
  >
    <div class="p-6">
      <div class="flex items-center mb-4">
        <div
          class="w-10 h-10 bg-purple-300 rounded-full flex items-center justify-center mr-3 shadow-md"
        >
          <i class="fas fa-key text-gray-700"></i>
        </div>
        <h2 class="text-xl font-semibold text-gray-700">Change Password</h2>
      </div>
      <form [formGroup]="updatePasswordForm" (submit)="updatePassword()">
        <div class="mb-4">
          <label
            for="newPassword"
            class="block text-sm font-medium mb-2 text-gray-600"
            >New Password</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
            >
              <i class="fas fa-lock text-fuchsia-400"></i>
            </div>
            <input
              type="password"
              id="newPassword"
              formControlName="newPassword"
              class="w-full pl-10 pr-3 py-3 bg-gray-50 bg-opacity-50 border border-fuchsia-200 text-gray-600 rounded-lg focus:outline-none focus:ring-1 focus:ring-fuchsia-500 focus:border-fuchsia-500 transition-all duration-200"
              placeholder="Enter your new password"
            />
          </div>
        </div>

        <div class="mb-4">
          <label
            for="confirmNewPassword"
            class="block text-sm font-medium mb-2 text-gray-600"
            >Confirm New Password</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
            >
              <i class="fas fa-lock text-fuchsia-400"></i>
            </div>
            <input
              type="password"
              id="confirmNewPassword"
              formControlName="confirmNewPassword"
              class="w-full pl-10 pr-3 py-3 bg-gray-50 bg-opacity-50 border border-fuchsia-200 text-gray-600 rounded-lg focus:outline-none focus:ring-1 focus:ring-fuchsia-500 focus:border-fuchsia-500 transition-all duration-200"
              placeholder="Confirm your new password"
            />
          </div>
        </div>

        <div class="mt-6">
          <button
            type="submit"
            class="w-full bg-fuchsia-600 text-gray-100 py-3 px-4 rounded-lg hover:opacity-90 focus:outline-none focus:ring-2 focus:ring-fuchsia-500 focus:ring-offset-2 focus:ring-offset-gray-800 transition-all duration-200 font-medium shadow-lg transform hover:-translate-y-0.5"
          >
            <i class="fas fa-key mr-2"></i> Update Password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
