<div class="flex items-center mb-4 md:hidden">
  <h1 class="text-2xl font-medium text-fuchsia-950 flex items-center">User</h1>
</div>

<div class="w-full grid grid-cols-1 lg:grid-cols-3 mb-4 gap-6">
  <form class="lg:col-start-2">
    <div
      class="flex w-full py-1.5 pl-3 pr-1 bg-white rounded-md shadow-sm bg-opacity-50 text-gray-600"
    >
      <input
        type="text"
        class="focus:outline-none w-full placeholder:text-gray-300"
        formControlName="name"
        placeholder="Search"
      />
      <button
        type="submit"
        class="bg-fuchsia-600 text-white px-4 py-2 rounded-lg hover:opacity-90 focus:outline-none focus:ring-1 focus:ring-fuchsia-500 focus:border-fuchsia-500 transition-all duration-200 font-medium shadow-lg transform hover:-translate-y-0.5"
      >
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </form>
</div>

<div class="w-full overflow-x-auto">
  <table class="w-max min-w-full p-5 rounded-lg shadow-sm bg-white">
    <thead>
      <tr class="text-left text-gray-400">
        <th class="pl-8 pr-4 py-2">#</th>
        <th class="px-4 py-2">Name</th>
        <th class="px-4 py-2">Role</th>
        <th class="px-4 py-2">Email</th>
        <th class="px-4 py-2 text-center">
          <i class="fa-solid fa-ellipsis text-gray-400"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      @for(user of users; track user.id; let idx = $index) {
      <tr class="border-y border-gray-200">
        <td class="pl-8 pr-4 py-2">{{ idx + 1 }}</td>
        <td class="px-4 py-2">
          {{ user.name }}
        </td>
        <td class="px-4 py-2 text-nowrap">
          {{ user.role | titlecase }}
        </td>
        <td class="px-4 py-2 text-nowrap">
          {{ user.email }}
        </td>

        <td
          class="px-4 py-2 flex flex-row gap-2 justify-center items-center h-full text-gray-500"
        >
          <!-- edit -->
          <div
            (click)="openCreateModal(user)"
            class="hover:bg-green-100 px-2.5 py-1 rounded hover:text-green-500"
          >
            <i class="fa-solid fa-pen text-xs"></i>
          </div>
          <!-- delete -->
          <div
            class="hover:bg-rose-100 px-2.5 py-1 rounded hover:text-rose-500"
          >
            <i class="fa-solid fa-trash text-xs"></i>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

@if(isConvert){
<app-employee-create
  [user]="selectedUser"
  (cancel)="closeCreateModal()"
  (refresh)="getUsers()"
></app-employee-create>
}
