<div class="grid grid-cols-4 gap-1">
  <div
    class="cursor-pointer bg-primary-200 p-2 m-2 rounded flex flex-col space-y-2 w-64"
  >
    <div class="flex gap-2">
      <h2 class="font-bold">Product Designer</h2>
      <p
        class="border border-lime-500 px-2 text-xs rounded-full bg-lime-200 flex items-center"
      >
        OPEN
      </p>
    </div>
    <p class="text-justify">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat cumque
      eius minus pariatur tempora perferendis aliquam eos omnis architecto
      sapiente.
    </p>
    <ul class="flex gap-2">
      <li class="bg-primary-50 border border-primary-300 px-2 rounded-full">
        Fulltime
      </li>
      <li class="bg-primary-50 border border-primary-300 px-2 rounded-full">
        Remote
      </li>
      <li class="bg-primary-50 border border-primary-300 px-2 rounded-full">
        Junior
      </li>
    </ul>
    <div class="flex font-medium justify-between">
      <p>Rp. 5.600.000</p>
      <p>Jakarta Selatan</p>
    </div>
    <button
      class="bg-primary-500 hover:bg-primary-600 px-3 py-1 rounded cursor-pointer w-full border border-primary-500 text-white font-medium disabled:bg-primary-400"
    >
      Apply
    </button>
  </div>
  <div class="bg-primary-200 p-2 m-2 rounded flex flex-col space-y-2 w-64">
    <div class="flex gap-2">
      <h2 class="font-bold">Product Designer</h2>
      <p
        class="border border-lime-500 px-2 text-xs rounded-full bg-lime-200 flex items-center"
      >
        OPEN
      </p>
    </div>
    <p class="text-justify">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat cumque
      eius minus pariatur tempora perferendis aliquam eos omnis architecto
      sapiente.
    </p>
    <ul class="flex gap-2">
      <li class="bg-primary-50 border border-primary-300 px-2 rounded-full">
        Fulltime
      </li>
      <li class="bg-primary-50 border border-primary-300 px-2 rounded-full">
        Remote
      </li>
      <li class="bg-primary-50 border border-primary-300 px-2 rounded-full">
        Junior
      </li>
    </ul>
    <div class="flex font-medium justify-between">
      <p>Rp. 5.600.000</p>
      <p>Jakarta Selatan</p>
    </div>
    <button
      class="bg-primary-500 hover:bg-primary-600 px-3 py-1 rounded cursor-pointer w-full border border-primary-500 text-white font-medium disabled:bg-primary-400"
    >
      Apply
    </button>
  </div>
  <div class="bg-primary-200 p-2 m-2 rounded flex flex-col space-y-2 w-64">
    <div class="flex gap-2">
      <h2 class="font-bold">Product Designer</h2>
      <p
        class="border border-lime-500 px-2 text-xs rounded-full bg-lime-200 flex items-center"
      >
        OPEN
      </p>
    </div>
    <p class="text-justify">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat cumque
      eius minus pariatur tempora perferendis aliquam eos omnis architecto
      sapiente.
    </p>
    <ul class="flex gap-2">
      <li class="bg-primary-50 border border-primary-300 px-2 rounded-full">
        Fulltime
      </li>
      <li class="bg-primary-50 border border-primary-300 px-2 rounded-full">
        Remote
      </li>
      <li class="bg-primary-50 border border-primary-300 px-2 rounded-full">
        Junior
      </li>
    </ul>
    <div class="flex font-medium justify-between">
      <p>Rp. 5.600.000</p>
      <p>Jakarta Selatan</p>
    </div>
    <button
      class="bg-primary-500 hover:bg-primary-600 px-3 py-1 rounded cursor-pointer w-full border border-primary-500 text-white font-medium disabled:bg-primary-400"
    >
      Apply
    </button>
  </div>
  <div class="bg-primary-200 p-2 m-2 rounded flex flex-col space-y-2 w-64">
    <div class="flex gap-2">
      <h2 class="font-bold">Product Designer</h2>
      <p
        class="border border-lime-500 px-2 text-xs rounded-full bg-lime-200 flex items-center"
      >
        OPEN
      </p>
    </div>
    <p class="text-justify">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat cumque
      eius minus pariatur tempora perferendis aliquam eos omnis architecto
      sapiente.
    </p>
    <ul class="flex gap-2">
      <li class="bg-primary-50 border border-primary-300 px-2 rounded-full">
        Fulltime
      </li>
      <li class="bg-primary-50 border border-primary-300 px-2 rounded-full">
        Remote
      </li>
      <li class="bg-primary-50 border border-primary-300 px-2 rounded-full">
        Junior
      </li>
    </ul>
    <div class="flex font-medium justify-between">
      <p>Rp. 5.600.000</p>
      <p>Jakarta Selatan</p>
    </div>
    <button
      class="bg-primary-500 hover:bg-primary-600 px-3 py-1 rounded cursor-pointer w-full border border-primary-500 text-white font-medium disabled:bg-primary-400"
    >
      Apply
    </button>
  </div>
</div>
