<div>
  @if (users$ | async; as users) {
  <h2>Employee List</h2>
  <table>
    <thead>
      <tr>
        <th>NO</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for (user of users; track $index) {
      <tr>
        <td>{{ $index + 1 }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>
          <button>Edit</button>
          <button>Delete</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  }
</div>
