<div class="bg-fuchsia-50 min-h-screen flex flex-col relative max-w-full">
  <header
    class="bg-gradient shadow-lg p-4 md:px-8 md:z-40 container mx-auto flex justify-between items-center"
  >
    <div
      class="flex items-center gap-4 hover:opacity-90 transition-opacity duration-200 text-fuchsia-900"
    >
      <div class="md:hidden" (click)="toggleSidebar()">
        <i class="fa-solid fa-bars"></i>
      </div>
      <a
        routerLink="/dashboard/home"
        class="font-bold text-xl tracking-wider uppercase"
      >
        Staffy
      </a>
    </div>
    <nav>
      <ul class="flex space-x-6">
        <li>
          <a
            routerLink="/dashboard/users/profile"
            class="text-fuchsia-900 hover:text-fuchsia-600 flex items-center transition-colors duration-200"
          >
            <i class="fas fa-user-circle mr-2"></i>
            <span>Profile</span>
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <main class="flex">
    <!-- sidebar -->
    <div
      class="fixed top-0 left-0 z-30 h-screen md:h-full md:static bg-fuchsia-50 text-fuchsia-900 flex-col p-4 md:translate-x-0 transform transition-transform duration-300 ease-in-out w-44"
      [ngClass]="sidebarOpen ? '-translate-x-full' : 'translate-x-0'"
    >
      <nav class="flex-1 space-y-2">
        <div
          class="flex gap-5 items-center hover:opacity-90 transition-opacity duration-200 md:hidden px-4"
        >
          <div>
            <a
              routerLink="/dashboard/home"
              class="text-fuchsia-900 font-bold text-xl tracking-wider uppercase"
            >
              Staffy
            </a>
          </div>
          <div (click)="toggleSidebar()"><i class="fa-solid fa-xmark"></i></div>
        </div>
        <a
          routerLink="home"
          routerLinkActive="bg-fuchsia-200 font-bold"
          [routerLinkActiveOptions]="{ exact: true }"
          class="block px-4 py-2 rounded-lg hover:bg-fuchsia-200 hover:font-bold transition"
        >
          Home
        </a>
        <a
          routerLink="attendance"
          routerLinkActive="bg-fuchsia-200 font-bold"
          class="block px-4 py-2 rounded-lg hover:bg-fuchsia-200 hover:font-bold transition"
        >
          Attendance
        </a>
        <a
          routerLink="department"
          routerLinkActive="bg-fuchsia-200 font-bold"
          class="block px-4 py-2 rounded-lg hover:bg-fuchsia-200 hover:font-bold transition"
        >
          Department
        </a>
        <a
          routerLink="users"
          routerLinkActive="bg-fuchsia-200 font-bold"
          [routerLinkActiveOptions]="{ exact: true }"
          class="block px-4 py-2 rounded-lg hover:bg-fuchsia-200 hover:font-bold transition"
        >
          User
        </a>
        <a
          routerLink="employees"
          routerLinkActive="bg-fuchsia-200 font-bold"
          class="block px-4 py-2 rounded-lg hover:bg-fuchsia-200 hover:font-bold transition"
        >
          Employee
        </a>
        <button
          (click)="logout()"
          class="block px-4 py-2 rounded-lg hover:bg-fuchsia-200 hover:font-bold transition w-full text-left"
        >
          Logout
        </button>
      </nav>
    </div>
    <!-- end of sidebar -->
    <div class="container relative px-4 py-4 flex-1">
      <router-outlet />
      <div class="mt-10 mb-4 text-center text-gray-400 text-sm">
        <p>© 2025 STAFFY. All rights reserved.</p>
      </div>
    </div>
  </main>
</div>
