<div class="flex items-center mb-6">
  <h1 class="text-2xl font-bold text-fuchsia-600 flex items-center">
    Attendance
  </h1>
</div>

<div class="space-y-5 mb-8">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
    <div
      class="bg-fuchsia-200 bg-opacity-50 p-5 rounded-lg shadow-md border border-fuchsia-900 card-hover"
    >
      <div class="space-y-3 text-gray-600 ml-2 mb-4">
        <p class="flex items-center">
          <i class="fa-solid fa-calendar text-gray-500 w-6"></i>
          <span class="font-medium w-24">Date:</span>
          <span>{{ todayDate | date : "fullDate" }}</span>
        </p>
        <p class="flex items-center">
          <i class="fa-solid fa-circle-info text-gray-500 w-6"></i>
          <span class="font-medium w-24">Status:</span>
          <span>{{ attendanceStatus }}</span>
        </p>
        <p class="flex items-center">
          <i class="fa-regular fa-clock text-gray-500 w-6"></i>
          <span class="font-medium w-24">Check-in:</span>
          <span>{{
            attendanceToday?.check_in_time
              ? (attendanceToday?.check_in_time | date : "shortTime")
              : "-"
          }}</span>
        </p>
        <p class="flex items-center">
          <i class="fa-regular fa-clock text-gray-500 w-6"></i>
          <span class="font-medium w-24">Check-out:</span>
          <span>{{
            attendanceToday?.check_out_time
              ? (attendanceToday?.check_out_time | date : "shortTime")
              : "-"
          }}</span>
        </p>
      </div>
      <div class="flex justify-end space-x-3">
        <button
          (click)="checkIn()"
          class="px-4 py-2 bg-fuchsia-600 text-gray-100 rounded-lg hover:opacity-80 focus:outline-none focus:ring-2 focus:ring-fuchsia-500 transition-all duration-200 font-medium shadow-md flex items-center"
        >
          CHECK IN
        </button>
        <button
          (click)="checkOut()"
          class="px-4 py-2 bg-fuchsia-600 text-gray-100 rounded-lg hover:opacity-80 focus:outline-none focus:ring-2 focus:ring-fuchsia-500 transition-all duration-200 font-medium shadow-md flex items-center"
        >
          CHECK OUT
        </button>
      </div>
    </div>
  </div>
</div>

<table
  class="table-auto w-full border-collapse bg-opacity-50 p-5 rounded-lg shadow-md border border-fuchsia-900 overflow-hidden text-gray-600"
>
  <thead>
    <tr class="bg-fuchsia-200 text-left">
      <th class="p-2 border">#</th>
      <th class="p-2 border">Date</th>
      <th class="p-2 border">Check-in</th>
      <th class="p-2 border">Check-out</th>
      <th class="p-2 border">Status</th>
    </tr>
  </thead>
  <tbody>
    @for(attendance of attendaceHistory; track attendance.id; let idx = $index){
    <tr>
      <td class="p-2 border">{{ idx + 1 }}</td>
      <td class="p-2 border">
        {{ attendance.date | date : "fullDate" }}
      </td>
      <td class="p-2 border">
        {{ attendance.check_in_time | date : "shortTime" }}
      </td>
      <td class="p-2 border">
        {{
          attendance.check_out_time
            ? (attendance.check_out_time | date : "shortTime")
            : "-"
        }}
      </td>
      <td class="p-2 border">
        <span
          [ngClass]="{
            'text-green-600 font-medium': attendance.check_out_time,
            'text-yellow-600 font-medium': !attendance.check_out_time
          }"
        >
          {{ attendance.check_out_time ? "Complete" : "Incomplete" }}
        </span>
      </td>
    </tr>
    }
  </tbody>
</table>
