@if(showSidebar){
<div
  class="bg-primary-300 w-44 min-h-screen py-2 transition delay-150 duration-300 ease-in-out"
>
  @if(user()) {
  <ul class="flex flex-col gap-2 justify-end px-3">
    <li class="flex font-medium my-3 items-center justify-between px-1">
      <div><p class="font-bold text-xl text-primary-800">PeopleZ</p></div>
      <button
        class="bg-primary-600 h-6 w-6 text-primary-300 flex items-center justify-center rounded-md cursor-pointer"
        (click)="closeSidebar()"
      >
        <i class="fa-solid fa-angle-left text-xs"></i>
      </button>
    </li>
    @if (user()?.role === 'APPLICANT') {
    <li
      class="cursor-pointer hover:bg-primary-700 hover:text-white p-1 rounded"
    >
      <a routerLink="jobs">Job Listings</a>
    </li>
    <li
      class="cursor-pointer hover:bg-primary-700 hover:text-white p-1 rounded"
    >
      <a routerLink="applications">My Applications</a>
    </li>
    } @if (user()?.role === 'EMPLOYEE') {
    <li
      class="cursor-pointer hover:bg-primary-700 hover:text-white p-1 rounded"
    >
      <a routerLink="/attendance">Attendance</a>
    </li>
    <li
      class="cursor-pointer hover:bg-primary-700 hover:text-white p-1 rounded"
    >
      <a routerLink="/leave">Leave Requests</a>
    </li>
    <li
      class="cursor-pointer hover:bg-primary-700 hover:text-white p-1 rounded"
    >
      <a routerLink="/payroll">Payslip</a>
    </li>
    <li
      class="cursor-pointer hover:bg-primary-700 hover:text-white p-1 rounded"
    >
      <a routerLink="/performance">Performance Review</a>
    </li>
    } @if ( user()?.role === 'HR') {
    <li
      class="cursor-pointer hover:bg-primary-700 hover:text-white p-1 rounded"
    >
      <a routerLink="recruitment">Recruitment</a>
    </li>
    <li
      class="cursor-pointer hover:bg-primary-700 hover:text-white p-1 rounded"
    >
      <a routerLink="employees">Employee Management</a>
    </li>
    <li
      class="cursor-pointer hover:bg-primary-700 hover:text-white p-1 rounded"
    >
      <a routerLink="/attendance">Attendance Reports</a>
    </li>
    <li
      class="cursor-pointer hover:bg-primary-700 hover:text-white p-1 rounded"
    >
      <a routerLink="/leave-approvals">Leave Approvals</a>
    </li>
    <li
      class="cursor-pointer hover:bg-primary-700 hover:text-white p-1 rounded"
    >
      <a routerLink="/performance-reviews">Performance Reviews</a>
    </li>
    } @if (user()?.role === 'ADMIN') {
    <li
      class="cursor-pointer hover:bg-primary-700 hover:text-white p-1 rounded"
    >
      <a routerLink="/recruitment">Recruitment</a>
    </li>
    <li
      class="cursor-pointer hover:bg-primary-700 hover:text-white p-1 rounded"
    >
      <a routerLink="/employees">Manage Employees</a>
    </li>
    <li
      class="cursor-pointer hover:bg-primary-700 hover:text-white p-1 rounded"
    >
      <a routerLink="/attendance">Attendance Data</a>
    </li>
    <li
      class="cursor-pointer hover:bg-primary-700 hover:text-white p-1 rounded"
    >
      <a routerLink="/payroll">Payroll Management</a>
    </li>
    <li
      class="cursor-pointer hover:bg-primary-700 hover:text-white p-1 rounded"
    >
      <a routerLink="/leave-policy">Leave Policies</a>
    </li>
    <li
      class="cursor-pointer hover:bg-primary-700 hover:text-white p-1 rounded"
    >
      <a routerLink="/performance">Performance Reports</a>
    </li>
    <li
      class="cursor-pointer hover:bg-primary-700 hover:text-white p-1 rounded"
    >
      <a routerLink="/user-management">User Roles</a>
    </li>
    }

    <li>
      <button
        (click)="onLogout()"
        class="cursor-pointer hover:bg-primary-700 hover:text-white p-1 rounded w-full text-left"
      >
        Log out
      </button>
    </li>
  </ul>
  }
</div>
} @if(!showSidebar){
<div
  class="bg-primary-300 min-h-screen py-2 transition delay-150 duration-300 ease-in-out"
>
  <button
    class="bg-primary-600 h-6 w-6 my-3 mx-2 text-primary-300 flex items-center justify-center rounded-md cursor-pointer"
    (click)="openSidebar()"
  >
    <i class="fa-solid fa-angle-right text-xs"></i>
  </button>
</div>
}
